{% extends 'portfolio/base.html' %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-7 col-sm-12 mt-2 border gx-4">
                    <p class="color4 fs-5 text-uppercase fst-italic mt-3 about-hover">
                        Some facts about of me
                    </p>
                    <div class="color4 fs-7 mt-3 mb-3 fontdescr">
                        My name is <span class="color3">Maksim</span>, I'm from Belarus.
                        As you might have guessed, I am a web developer. I have been
                        programming since 2020. That's when I first wrote
                        <span class="color3">"Hello world"</span>. My first programming
                        language was Python and it is still my main language. Then I tried
                        myself in different fields and programming languages. I studied
                        html and css, and at the end of 2020 I created
                        <a class="color3 a head-hov" style="text-decoration: none"
                           href="{% url 'project' 'my-first-website' %}">my first website</a> , then I studied
                        Javascript. I realized that a web developer is what my soul is
                        for, what I'm really interested in and what I'm getting at. I
                        chose back-end development as my main focus. I implement it in
                        <span class="color3">Python</span> and
                        <span class="color3">Django</span> framework. However, I can also
                        develop front-end (Yes, I wrote this and other sites by myself).
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-7 col-sm-12 mt-5 border gx-4">
                    <p class="color4 fs-5 text-uppercase fst-italic mt-3 about-hover">
                        Why did I choose Python and Django?
                    </p>
                    <p class="color4 fs-7 mt-3 fontdescr">
                        <span class="color3">Python</span> is a high-level general-purpose programming language with
                        dynamic strict typing and automatic memory management. Python
                        language can be used in almost any field of programming, but its
                        main areas are Data Science, Machine Learning, DevOps, Testing,
                        and Web Development
                    <p class="color4 fs-7 mt-4 fontdescr">The main advantages of Python:</p>
                    <ul>
                        <li class="color4 fs-7 fontdescr">Convenient syntax</li>
                        <li class="color4 fs-7 fontdescr">Interpretability</li>
                        <li class="color4 fs-7 fontdescr">Dynamic typing</li>
                        <li class="color4 fs-7 fontdescr">Extensive library support</li>
                        <li class="color4 fs-7 fontdescr">Multiplatform</li>
                    </ul>
                    </p>
                    <p class="color4 fs-7 mt-4 fontdescr">
                        <span class="color3">Django</span> is a high-level Python web framework that encourages rapid
                        development and clean, pragmatic
                        design. Built by experienced developers, it takes care of much of the hassle of web development,
                        so I can focus on writing your app without needing to reinvent the wheel
                    <p class="color4 fs-7 mt-4 fontdescr">The main advantages of Django:</p>
                    <ul>
                        <li class="color4 fs-7 fontdescr">Ridiculously fast</li>
                        <li class="color4 fs-7 fontdescr">Reassuringly secure</li>
                        <li class="color4 fs-7 fontdescr">Exceedingly scalable</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-7 col-sm-12 mt-5 border mb-4 gx-4">
                    <p class="color4 fs-5 text-uppercase fst-italic mt-3 about-hover">
                        Why me?
                    </p>
                    <p class="color4 fs-7 mt-3 fontdescr">
                        You should choose me because I have <span class="color3">strong knowledge</span> in the
                        following areas:
                    <ul>
                        {% for s in skills %}
                            <li class="color4 fs-7 fontdescr">{{ s }}</li>
                        {% endfor %}
                    </ul>
                    </p>
                    <p class="color4 fs-7 mt-4 fontdescr">
                        Also, I have such <span class="color3">soft skills</span> as
                    <ul>
                        <li class="color4 fs-7 fontdescr">Constant self-improvement</li>
                        <li class="color4 fs-7 fontdescr">Creativity</li>
                        <li class="color4 fs-7 fontdescr">Flexibility of thinking</li>
                        <li class="color4 fs-7 fontdescr">Willingness to do monotonous work</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}