{% extends 'portfolio/base.html' %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row justify-content-center gx-0">
                <div class="col-lg-10 col-sm-12 mt-2 border mb-4 gx-4"> {# background #}
                    <p class="text-white fs-3 text-uppercase fst-italic mt-3 text-center">
                        {{ p.title }}
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-sm-12">
                            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true"
                                 data-bs-interval="50000">
                                <div class="carousel-indicators">
                                    {% for img in images %}
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="{{ forloop.counter|add:-1 }}"
                                                class="{% if forloop.counter0 == 0 %}active{% endif %}"
                                                aria-current="true"
                                                aria-label="Slide {{ forloop.counter }}"></button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {% for img in images %}
                                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                            <img src="{{ img.image.url }}" class="d-block w-100 mx-auto mb-5"
                                                 alt="..." oncontextmenu="return false;">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-white fs-5 text-uppercase fst-italic gx-5 mt-3">What is this website about?</div>
                    <div class="color4 fs-7 mt-4 mb-5 fontdescr ">
                        {{ p.description|linebreaks }}
                    </div>
                    <div class="text-white fs-5 text-uppercase fst-italic gx-5 mt-3">What were the problems?</div>
                    <div class="color4 fs-7 mt-4 mb-5 fontdescr ">
                        {{ p.issues|linebreaks }}
                    </div>
                    <div class="text-white fs-5 text-uppercase fst-italic gx-5 mt-3">How did I solve this problems?
                    </div>
                    <div class="color4 fs-7 mt-4 mb-5 fontdescr">
                        {{ p.solve|linebreaks }}
                    </div>
                    {% if p.url %}
                        <div class="text-white fs-5 text-uppercase fst-italic gx-5 mt-3">URL</div>
                        <a class="color3 a fs-6 head-hov mt-4 link-project pb-1" target="_blank"
                           href="{{ p.url }}">
                            {{ p.url }}
                        </a>
                    {% endif %}
                    <div class="text-center mb-3 mt-4">
                        <a class="btn btn-outline-danger" href="{% url 'portfolio' %}" role="button">Back to
                            portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
