{% extends 'portfolio/base.html' %}
{% block content %}
{% for p in projects %}
<div class="section">
      <div class="container">
        <div class="row gx-0 justify-content-center">
          <div class="col-lg-7 col-sm-12 mt-2 border gx-4">
            <p class="color4 fs-5 text-uppercase fst-italic mt-3">
              {{ p.name }}
            </p>
            <p class="color4 fs-7 mt-4 fontdescr">
                {{ p.content|linebreaks|truncatewords:30 }}
            </p>
          </div>
        </div>
      </div>
</div>
{% endfor %}
{% endblock %}